name: GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    
    - name: Use Node.js
      uses: actions/setup-node@v1
    
    - run: npm install
    - run: npm run build
    - run: rm -rf node_modules

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@3.6.2
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: .
        CLEAN: false
        SINGLE_COMMIT: true
